@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/Trebuchet MS.eot');
    src: url('../fonts/Trebuchet MS.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Trebuchet MS.woff') format('woff'),
         url('../fonts/Trebuchet MS.ttf') format('truetype'),
         url('../fonts/Trebuchet MS.svg#ms_reference_sans_serifRg') format('svg');
    font-weight: normal;
    font-style: normal;
}