* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Trebuchet MS' ;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1 {
    font-size: 22px;
    font-weight: bold;
}
h2  {
    font-size: 14px;
    font-weight: bold;
    margin-top: 35px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 1000px;
    margin-bottom: 500px;
}
/* Header
------------------------------------------------------------------------------------ */
.header {
    padding-top: 10px;
    background: url(../img/bg_header.jpg) no-repeat;
    background-position: 0 115px;
    height: 400px;
}
.contacts {
    float: right;
    margin-bottom: 15px;
}
.header img {
    float: left;
}
.header p {
    font-size: 15px;
    color: #734d95;
    float: left;
    margin-right: 5px;
}
.header span {
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    float: right;
}
.nav {
    float: right;
    height: 40px;
}
.nav ul li {
    text-transform: uppercase;
    float: left;
    list-style-type: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: normal;
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
}
.nav ul li:hover {
    background: -webkit-linear-gradient(to top, #b20f1f, #f0162a);
    background: -moz-linear-gradient(to top, #b20f1f, #f0162a);
    background: -o-linear-gradient(to top, #b20f1f, #f0162a);
    background: linear-gradient(to top, #b20f1f, #f0162a);
}
.nav ul li:hover a {
    color: #fff;
}
/*Conatiner
-----------------------------------------------------------------------*/
.container {
    margin-top: 30px;
}
.sidebar {
    float: left;
    width: 190px;
    margin-right: 35px;
}
.sidebar p {
    padding: 10px 50px 10px 10px;
    background: #d4d4d4;
    font-size: 14px;
}
.sidebar ul {
    margin-left: 10px;
}
.sidebar ul li {
    list-style-type: none;
    margin-top: 20px;
}
.sidebar ul li a {
    color: #af0f1e;
    font-size: 14px;
}
.sidebar ul li a:hover {
    text-decoration: none;
}
.right_con {
    width: 190px;
    float: right;
}
.content {
    width: 555px;
    font-size: 13px;
    float: left;
}
.content p {
    color: #868686;
}
.content .stoloto {
    padding-bottom: 35px;
}
.content .stoloto img {
    margin-top: 20px;
}
.content .new_places {
    padding-bottom: 25px;
}
.content .new_places img {
    margin-top: 10px;
}
.content .find_city {
    padding-bottom: 30px
}
.content .find_city p {
    margin-top: 10px;
}
.content .find_city form input {
    width: 460px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #acacac;
    margin-top: 20px;
    background: url(../img/find.png) no-repeat;
    background-position: 8px 6px;
    padding: 0 10px 0 50px
}
.content .find_city form {
    position: relative;
}
.content .find_city form button {
    position: absolute;
    padding: 10px 13px 10px 15px;
    background: -webkit-linear-gradient(to top, #c23745, #eb1a2e);
    background: -moz-linear-gradient(to top, #c23745, #eb1a2e);
    background: -o-linear-gradient(to top, #c23745, #eb1a2e);
    background: linear-gradient(to top, #c23745, #eb1a2e);
    border: none;
    color: #fff;
    font-weight: bold;
    top: 20px;
    right: 25px;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
}
.list {
    height: 780px;    
}
.list ul li {
    list-style-type: none;
    margin-top: 10px;
    font-size: 15px;
}
.list ul li a {
    color: #cc2f3f;
}
.list ul li a:hover {
    text-decoration: none;
}
.list .left {
    float: left;
}
.list .right {
    float: right;
}
.list .right h2:first-child {
    margin-top: 0;
}
/*win serch2 Page
--------------------------------------------------------------------*/
.bottom {
    margin-left: 105px;
    float: left;
    margin-right: 85px;
}
/*win result of serch Page
--------------------------------------------------------------------*/
.adress_head table {
    border-bottom: 1px solid #686868;
}
.adress_head table tr td {
    height: 26px;
    color: #686868;
    font-size: 11px;    
}
.adress_head table tr td:first-child p{
    width: 180px;
}
.adress_head table tr td:nth-child(2) p {
    width: 150px;
}
.adress_head table tr td:nth-child(3) p {
    width: 125px;
}
.adress_head table tr td:nth-child(4) p {
    width: 93px;
}
.adress_head h3{
    margin-top: 30px;
    margin-bottom: 22px
}
.adress table tr td {
    width: 180px;
    height: 26px;
    font-size: 11px;    
}
.adress table tr td a {
    color: #d02d3d;
}
.adress table tr td p {
    color: #000000;
}
.adress table tr td span {
    color: #b7b7b7;
}
.adress table tr td:first-child p{
    width: 180px;
}
.adress table tr td:nth-child(2) p {
    width: 150px;
}
.adress table tr td:nth-child(3) p {
    width: 125px;
}
.adress table tr td:nth-child(4) p {
    width: 93px;
}
.map {
    width: 410px;
    height: 125px;
    border: 1px solid #f7dbde;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .1);
    padding: 3px;
    position: relative;
    margin-bottom: 30px;
}
.map:before {
    content: "";
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid #f7dbde;
    position: absolute;
    top: -30px;
    left: 29.5px;
}
.map:after {
    content: "";
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom: 14px solid #fff;
    position: absolute;
    top: -28px;
    left: 30px;
}
.map iframe {
    height: 118px;
    width: 400px;
}
